.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: var(--schemes-surface, #fef7ff);
  /* border-radius: 18px; */
  /* border-style: solid; */
  /* border-color: var(--schemes-outline-variant, #cac4d0); */
  /* border-width: 8px; */
  padding: 10px;
  height: min(1100px);
  position: relative;
  /* overflow-y: auto; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: end;
}
.content {
  background: var(--schemes-surface-container-lowest, #ffffff);
  border-radius: 28px;
  display: inline-block;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  /* height: 685px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: calc(95%);
}
.top-app-bar-home {
  border-radius: 15px;
  padding: 0px 0px 28px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 164px;
  position: relative;
}
.leading-trailing-icons {
  padding: 8px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.leading-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.account-circle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.trailing-icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.trailing-icon-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.notifications {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.trailing-icon-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.settings {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.headline {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline2 {
  color: var(--schemes-background, #fef7ff);
  text-align: left;
  font-family: var(--headline-medium-font, "Roboto-SemiBold", sans-serif);
  font-size: var(--headline-medium-size, 28px);
  line-height: var(--headline-medium-line-height, 36px);
  font-weight: 600;
  position: relative;
}
.home2 {
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.section-01 {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.carousel {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-x: auto;
}
.item-01 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  border-radius: var(--corner-full, 1000px);
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: hidden;
}
.image {
  border-radius: 1000px;
  height: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
}
.dota-2-1 {
  width: 90px;
  height: 140px;
  position: absolute;
  left: 6px;
  top: 0px;
}
.dota-2-2 {
  width: 104px;
  height: 93px;
  position: absolute;
  left: -4px;
  top: 0px;
  object-fit: cover;
}
.label {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-02 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.fortnite-1 {
  width: 95px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.item-03 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ks-1 {
  width: 89px;
  height: 96px;
  position: absolute;
  left: 4px;
  top: 0px;
  object-fit: cover;
}
.item-04 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rivals-1 {
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.item-05 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.genshin-1 {
  width: 96px;
  height: 101px;
  position: absolute;
  left: 0px;
  top: -5px;
  object-fit: cover;
}
.genshin-impact {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-06 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image2 {
  background: rgba(255, 255, 255, 0.99);
  border-radius: 1000px;
  height: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
}
.lol-logo-1 {
  width: 108px;
  height: 83px;
  position: absolute;
  left: -6px;
  top: 6px;
  object-fit: cover;
}
.item-07 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._350-px-path-of-exile-2-logo-1 {
  width: 152px;
  height: 106px;
  position: absolute;
  left: -27px;
  top: 0px;
  object-fit: cover;
}
.item-08 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image3 {
  border-radius: 1000px;
  height: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.item-9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-10 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-11 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-12 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-13 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.section-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.carousel2 {
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 973px;
  height: 221px;
  position: relative;
  overflow-x: auto;
}
.item-1 {
  border-radius: 28px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.item-2 {
  border-radius: 28px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.item-3 {
  border-radius: 28px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.item-last {
  border-radius: 28px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.navigation-rail {
  background: var(--schemes-surface, #fef7ff);
  padding: 44px 0px 56px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 72px;
  height: 481px;
  position: absolute;
  left: 0px;
  top: 67px;
  overflow: hidden;
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  position: relative;
  overflow: hidden;
}
.nav-item-1 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer2 {
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label2 {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: center;
  font-family: var(
    --m3-label-medium-prominent-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--m3-label-medium-prominent-font-size, 12px);
  line-height: var(--m3-label-medium-prominent-line-height, 16px);
  letter-spacing: var(--m3-label-medium-prominent-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-prominent-font-weight, 600);
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.nav-item-2 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label3 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: center;
  font-family: var(--m3-label-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-medium-font-size, 12px);
  line-height: var(--m3-label-medium-line-height, 16px);
  letter-spacing: var(--m3-label-medium-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.nav-item-3 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.nav-item-4 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
